{{#partial "body"}}
    <div class="container">
        {{> component/navigationBar}}

        {{#with post}}
            <div class="mb-2 mt-5">
                <h1>{{title}}</h1>
            </div>

            <div class="mb-5">
                <span class="text-secondary">{{createdDate}}</span>
                <span class="text-secondary">posted by {{writer}}</span>
            </div>

            <p>{{content}}</p>

            <div class="text-right">
                <form action="/posts/{{id}}/delete" method="post">
                    <a class="btn btn-primary btn-sm" href="/">목록</a>
                    <a class="btn btn-secondary btn-sm" href="/posts/{{id}}/edit">수정</a>
                    <button class="btn btn-danger btn-sm" type="submit">삭제</button>
                </form>
            </div>
        {{/with}}
    </div>
{{/partial}}

{{> layout/baseLayout}}